@import "@/styles/variables.scss";

.button {
    display: inline-block;
    padding: 0.5rem 2rem;
    border-radius: 2px;
    border: 2px solid $color-pink;
    background-color: transparent;
    transition: background-color 0.1s ease-in;
    font-weight: bold;
    margin-bottom: 1px;

    &:hover {
        cursor: pointer;
        background-color: $color-pink;
        color: $color-white;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}
