@import "@/styles/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Roboto&display=swap");

.sitetitle {
    font-size: 4rem;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        display: block;
        border-bottom: 2px solid $color-pink;
        text-decoration: none;
        color: inherit;
        font-family: "Parisienne", cursive;
    }
}
